---
import { render, type CollectionEntry } from 'astro:content';
import { formatDateCV } from '@/lib/utils';

interface Props {
  entry: CollectionEntry<'educations'>;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<li class="py-0.5">
  <div class="flex gap-5">
    <div class="relative min-w-36 shrink-0 flex flex-col">
      <span class="text-muted-foreground text-sm">{formatDateCV(entry.data.from)} - {formatDateCV(entry.data.to)}</span>
      <span class="text-foreground text-sm">{entry.data.location}</span>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-col">
        <span class="text-headings font-medium">{entry.data.institution}</span>
        <span class="text-foreground text-sm">{entry.data.title}</span>
      </div>
      <div class="prose dark:prose-invert prose-sm">
        <Content />
      </div>
    </div>
  </div>
</li>
